.container{
    width: 90%;
    margin: auto;
}

.row{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.display-flex{
    display: flex;
}

.col-4{
    width: 40%;
}
.col-6{
    width: 50%;
    height: 100%;
}

.col-12{
    width: 100%;
}

.card{
    padding: 15px;
    color: black;
    background-color: #00a8cc;
    border-radius: 5px;
    width: 100%;  
}

.img{
    height: 30px;
    width: 30px;
    border-radius: 8px;
}

.lang {
    justify-content: flex-end !important;
    width: 100%;
}

.primary-button{
    color: #ff0000 ;
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
    border-radius: 8px;
    border-color: 0;
    font-size: 20px;
}

.second-button{
    font-size: 20px;
    color: black;
    border-radius: 5px;
    border:solid 1px;
    background-color: #00a8cc;
}

.text-black{
    color: black;
}